<html>
<head>
  <%- include('./partial/header'); %>
</head>
<body>
<h1 style="width: 100%; text-align: center;">Keycloak OIDC Demo</h1>
<hr/>
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                  <h5 class="card-subtitle mb-2 text-muted">Login Menu</h5>
                  <p class="card-text">
                    login with keycloak sso
                  </p>
                  <a href="/login" class="btn btn-primary btn-lg w-100">Keycloak SSO</a>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
</body>
</html>
